.card {
    .image-product {
        max-height: 200px;
        min-height: 200px;
        object-fit: contain;
    }
    .box-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        .price {
            font-size: 16px;
            color: #0779e4;
            font-weight: 500;
        }
        .sold {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.54);
        }
        p {
            margin: 0;
        }
    }
}
.row {
    width: 100%;
    padding: 16px;
    row-gap: 16px;
    margin-left: -8px;
    margin-right: -8px;
}
